@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
}

h1 {
  color: #293264;
  font-size: 32px;
  font: bold;
}
